.dayCard {
    background-color: #f5f9f6;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

}

.dayTitle {
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: #000000;
    text-align: left;
    padding: 0 0 0 15px;

}

.activitiesList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.activityCard {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 15px;
    width: calc(50% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.timeIcon {
    margin-bottom: 8px;

}

.timeIcon img {
    width: 50px;
    border-radius: 50%;

}

.placeImage {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.placeImageContainer{
    width: 100%;
}

.placeInfo {
    text-align: start;
    width: 100%;
}

.placeName {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 5px 0;
}

.address {
    font-size: 0.9rem;
    color: #555;
}

.notes {
    font-size: 0.85rem;
    color: #777;
    margin-top: 5px;
}

.placeNameAndTime{
    display: flex;
    justify-content: space-between;
}

/* Адаптивность */
@media (max-width: 768px) {
    .activitiesList {
        flex-direction: column;
    }

    .activityCard {
        width: 100%;
    }

    .dayTitle {
        font-size: 1.6rem;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .dayTitle {
        font-size: 1.4rem;
    }

    .placeName {
        font-size: 1rem;
    }

    .address, .notes {
        font-size: 0.8rem;
    }

    .timeIcon img {
        width: 40px;
    }
}

:global(.pdfMode) .activitiesList {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    gap: 20px !important;
    justify-content: space-between !important;
}

:global(.pdfMode) .activityCard {
    flex: 1 1 45% !important;
    max-width: 45% !important;
    box-sizing: border-box !important;
    width: auto !important;
}


