
.card {
    background-color: var(--color-background);
    padding: 40px;
    border-radius: 24px;
    width: 320px;
    margin: auto;
    color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
    color: var(--color-font-dark);
    font-size: 1.6rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.label {
    margin-bottom: -8px;
    color: var(--color-font-dark);
    font-size: 1.3rem;
    font-weight: 500;
}

.input {
    padding: 14px 20px;
    border-radius: 10px;
    outline: none;
    color: var(--color-font-dark);
    font-family: 'Poppins', sans-serif;
    border: 1px solid var(--color-primary);
    font-size: 0.9rem;
    background-color: var(--color-card);
}



.button {
    background-color: var(--color-primary-light);
    color: white;
    border: none;
    padding: 6px 16px;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    font-size: 1em;
    width: auto;
    margin-top: 10px;
}

.button:hover {
    background-color: var(--color-primary-lighter);
}

.error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

.register {
    color: gray;
    background: none;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}
