.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0 0 0;

}


.container::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
            to bottom,
            rgba(53, 119, 60, 0.14) 0%,
            rgba(42, 75, 46, 0.71) 80%
    );
    z-index: 0;

    backdrop-filter: blur(0.5px);
    pointer-events: none;
}

.container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    background: linear-gradient(to bottom, transparent, #074008);
    z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.callToAction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.callToAction button {
    padding: 10px 45px;
    border-radius: 25px;
    font-size: 2.5rem;
    color: #1B511C;
    transition: background 0.3s ease, color 0.3s ease;
}

.callToAction button:hover {
    background: #1B511C;
    color: white;
}

.slogan {
    font-size: 3.5rem;
    color: white;
    text-transform: uppercase;
    border-radius: 12px;
    padding: 20px;
    font-weight: 200;
}


.ukraine {
    color: #c8f100;
    font-size: 5rem;
    padding: 16px;
    font-weight: 300;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    background: rgba(42, 75, 46, 0.1);
    margin-bottom: 200px;
}

.author{
    display: flex;
    color: white;
    align-items: center;
    gap: 5px;

}

.author h3 {
    font-weight: 400;
    font-size: 1rem;
}

.author hr {
    width: 40px;
    height: 2px;
    background: white;
    border: none;
}

.words{
    color: white;
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
    font-style: italic;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutTitle{
    color: white;
    font-weight: 300;
    font-size: 4rem;
    margin-bottom: 50px;
}


/* ================= MEDIA ================= */

@media (max-width: 1024px) {

    .slogan {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }

    .slogan span{
        padding: 0;
        line-height: 4rem;
    }

    .words{
        font-size: 1.7rem;
    }
}

@media (max-width: 768px) {
    .callToAction button{
        width: 80%;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .aboutTitle{
        font-size: 2.5rem;
    }
}

@media (max-width: 350px) {

    .slogan{
        font-size: 1.3rem;
    }

    .ukraine{
        font-size: 3rem;
    }
    .callToAction button{
        width: 80%;
        font-size: 1rem;
        font-weight: 600;
    }

    .aboutTitle{

        font-size: 1.5rem;

    }
}