.container {
    min-height: 100vh;
    height: auto    ;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.container::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
            to bottom,
            rgba(53, 119, 60, 0.14) 0%,
            rgba(42, 75, 46, 0.71) 100%
    );
    z-index: 0;

    backdrop-filter: blur(0.5px);
}



