.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.callToAction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.callToAction button {
    padding: 10px 45px;
    border-radius: 25px;
    font-size: 2.5rem;
    color: var(--color-primary);
    transition: background 0.3s ease, color 0.3s ease;
}

.callToAction button:hover {
    background: var(--color-primary);
    color: white;
}

.slogan {
    font-size: 3.5rem;
    color: white;
    text-transform: uppercase;
    border-radius: 12px;
    padding: 20px;
    font-weight: 200;
}


.ukraine {
    color: #c8f100;
    font-size: 5rem;
    padding: 16px;
    font-weight: 300;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    background: rgba(42, 75, 46, 0.1);
    margin-bottom: 200px;
}

.author{
    display: flex;
    color: white;
    align-items: center;
    gap: 5px;

}

.author h3 {
    font-weight: 400;
    font-size: 1rem;
}

.author hr {
    width: 40px;
    height: 2px;
    background: white;
    border: none;
}

.words{
    color: white;
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
    font-style: italic;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.aboutTitle{
    color: white;
    font-weight: 300;
    font-size: 4rem;
    margin-bottom: 50px;
}


/* ================= MEDIA ================= */

@media (max-width: 1024px) {

    .slogan {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }

    .slogan span{
        padding: 0;
        line-height: 4rem;
    }

    .words{
        font-size: 1.7rem;
    }
}

@media (max-width: 768px) {
    .callToAction button{
        width: 80%;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .aboutTitle{
        font-size: 2.5rem;
    }
}

@media (max-width: 350px) {

    .slogan{
        font-size: 1.3rem;
    }

    .ukraine{
        font-size: 3rem;
    }
    .callToAction button{
        width: 80%;
        font-size: 1rem;
        font-weight: 600;
    }

    .aboutTitle{

        font-size: 1.5rem;

    }
}