/* ===== Общие базовые стили ===== */
.container {
    background-color: var(--color-background);
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.mainPdfWrapper {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 6vw;
}

@media (min-width: 768px) {
    .title {
        font-size: 3vw;
    }
}

.loadingContainer {
    width: max-content;
}

.loadingText {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
}

.infoValue {
    font-size: 1.2rem;
    font-weight: 400;
}

.infoValueContainer {
    background: var(--color-list-background);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.nameInputContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.nameInput {
    font-size: 1.2rem;
    padding: 7px 10px;
    border-radius: 5px;
    outline: none;
    color: #333;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #0a5b1f;
}

.tripPlan {
    margin-top: 25px;
}

.tripPlanTitle {
    margin-left: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-font-dark);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--color-font-dark);
    padding: 5px 15px;
    text-align: center;
}

.avoid-break {
    page-break-inside: avoid;
    break-inside: avoid;
}

/* ===== Flex-сетка ===== */
.tripInfoContainer,
.hotelContent {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;

}

.tripInfo,
.hotelCard,
.hotelImageWrapper,
.hotelMapWrapper {
    flex: 1 1 100%;
    color: var(--color-font-dark);

}

@media (min-width: 768px) {
    .tripInfo,
    .hotelCard,
    .hotelImageWrapper,
    .hotelMapWrapper {
        flex: 1 1 45%;
    }
}

.hotelCard {
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background: var(--color-list-background);

}

.hotelImage {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.hotelImage:hover {
    transform: scale(1.02);
}

.hotelMap {
    width: 100%;
    height: 250px;
    border: 3px solid #0a5b1f;
    border-radius: 12px;
}

.hotelTitle {
    font-size: 1.2rem;
    font-weight: 500;
}

.hotelAddress {
    font-size: 1.1rem;
    font-weight: 400;
}

.tripWeather {
    margin-top: 20px;
}

.tripWeather h2 {
    margin-left: 10px;
    margin-bottom: 10px;
}

.downloadButton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: var(--color-primary-light);
    color: white;
    border: none;
    padding: 6px 16px;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.3rem;
    min-width: 20%;
    width: auto;
}

.downloadButton:hover {
    background-color: var(--color-primary-lighter);
}



/* ===== Режим печати (print) ===== */
@media print {
    body {
        margin: 0;
        padding: 0;
    }

    .container {
        width: 100%;
        max-width: 100%;
        padding: 0;
        box-shadow: none;
    }

    .tripInfoContainer,
    .hotelContent {
        flex-wrap: wrap;
    }

    .tripInfo,
    .hotelCard,
    .hotelImageWrapper,
    .hotelMapWrapper {
        flex: 1 1 100%;
    }

    img {
        max-width: 100%;
        height: auto;
    }


}

/* ===== Принудительный десктопный режим для PDF ===== */
:global(.pdfMode) .tripInfo,
:global(.pdfMode) .hotelCard{
    flex: 1 1 45% !important;
    max-width: 45% !important;
    box-sizing: border-box !important;
}

:global(.pdfMode) .container {
    width: 100% !important;
    max-width: 1200px !important;
    padding: 20px !important;
}

:global(.pdfMode) .hotelImageWrapper{
    flex: 1 1 100% !important;
    max-width: 100% !important;
}

:global(.hideForPdf) .downloadButton{
    display: none !important;
}
:global(.hideForPdf) .hotelMapWrapper{
    display: none !important;
}








