.table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;

}

th, td {
    padding: 15px;
    text-align: left;
    font-size: 1.1rem;

}

th {
    font-weight: 600;
    border-bottom: 3px solid var(--color-primary-light);
    color: var(--color-font-dark);
}

tr {
    border-bottom: 1px solid var(--color-primary-light);
}

tr:last-child {
    border-bottom: none;
}

td {
    color: var(--color-font-dark);
}


td:last-child {
    display: flex;
    gap: 10px;
}

td:last-child > div {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.table-container {
    padding: 20px;
    margin: 20px auto;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.icon {
    font-size: 1.2rem;
    cursor: pointer;
}

.icon:hover {
    color: var(--color-primary-lighter);
}

.noTrips{
    color: var(--color-inactive);
    text-align: center;
}

@media (max-width: 768px) {
    .table-container {
        padding: 10px;
        margin: 10px auto;
    }

    .table {
        display: block;
        width: 100%;
        overflow-x: auto;
    }

    th, td {
        padding: 10px;
        font-size: 1rem;
    }

    .icon {
        font-size: 1.3rem;
    }
}

@media (max-width: 480px) {
    .table-container {
        padding: 5px;
        margin: 5px auto;
    }

    th, td {
        padding: 8px;
        font-size: 0.9rem;
    }

    .icon {
        font-size: 1.4rem;
    }

    td:last-child {
        flex-direction: column;
        gap: 5px;
    }

    td:last-child > div {
        flex-wrap: wrap;
        gap: 10px;
        justify-content: flex-start;
    }
}

