.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.sliderRound {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background-color: var(--color-primary);
    border-radius: 34px;
    transition: background-color 0.4s;
}

.iconWrapper {
    position: absolute;
    top: 3px;
    left: 4px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s;
}

.icon{
    color: var(--color-primary);
}

.checkbox:checked + .sliderRound {
    background-color: var(--color-primary);
}

.checkbox:checked + .sliderRound .iconWrapper {
    transform: translateX(24px);
}
