.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-card);
    border-radius: 10px;
    box-shadow: 1px 1px 4px var(--color-card-shadow);
    padding: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
    color: var(--color-font-dark);
}

.card:hover {
    transform: scale(1.03);
}

.image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.card h2 {
    font-size: 1.3rem;
    font-weight: 650;
}

.card h3 {
    font-size: 1rem;
    font-weight: 400;
}

.attribution {
    font-size: 12px;
    margin-top: auto;
    color: rgba(67, 51, 51, 0.19);
}

.notSelected {
    background-color: var(--color-card-notselected);
    opacity: 0.5;
}

.selected {
    background-color: var(--color-card-selected);
    opacity: 1;
    border: 3px solid var(--color-card-shadow);
}

.selected::after {
    content: "✔️";
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 2rem;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.more{
    font-size: 2rem;
    flex-basis: 15%;
}

.more:hover {
    color: #ac9595;
}

.name{
    flex-basis: 85%;
}

